<div class="container-fluid">
  <div class="row toolbar-pf">
    <div class="col-sm-12">
      <div class="row toolbar-pf-results">
        <div class="col-sm-12">
          <h5><%= n_('%s Result', '%s Results', count) % count %></h5>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
