<h4 class="header">
  <%= title = _('Host Upgrade Progress') %>
</h4>
<div id="omaha_status_distribution_chart">
</div>
<%= mount_react_component(
  'PieChart',
  '#omaha_status_distribution_chart',
  ForemanOmaha::OmahaDashboard::StatusDistributionChart.new.to_json
) %>
