<h4 class="header">
  <%= title = _('Version Distribution') %>
</h4>
<% if SETTINGS[:version].short >= '1.16' && false %>
  <div id="omaha_version_distribution_chart">
  </div>
  <%= mount_react_component(
    'PieChart',
    '#omaha_version_distribution_chart',
    ForemanOmaha::OmahaDashboard::VersionDistributionChart.new.to_json
  ) %>
<% else %>
 <%= flot_pie_chart(
   'omaha_status_distribution_chart',
   title,
   ForemanOmaha::OmahaDashboard::VersionDistributionChart.new.to_chart_data,
   :class => 'statistics-pie small'
 ) %>
<% end %>
